body{
    margin: 0;
    padding: 10px;
    min-width: 400px;
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
button{
    background-color: #0088a9;
    padding-top:10px;
    padding-bottom: 1opx;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}
input{
    padding-top:10px;
    padding-bottom: 1opx;
    padding-left: 10px;
    padding-right: 10px;
    width:100%;
    box-sizing: border-box;
    border-radius: 20px;
}
ul{
list-style: none;
padding-left: 0;
margin-top: 20px;
}
li{
margin-top: 5px;
}
li a{
color: white;
text-decoration: none;
}
#delete-btn{
    background-color:#d11a2a;
    color:white;
}